nav {
  float: left;
  width: 100%;
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      a {
        display: block;
        margin: 10px;
        padding: 5px;
        text-decoration: none;
        color: black;

        &.active{
          color: blue;
        
        }
      }
    }
  }
}
